.loader {
    border: 16px solid #f3f3f3;
    /* Light grey background for the spinner */
    border-top: 16px solid #3498db;
    /* Blue color for the top */
    border-radius: 50%;
    /* Circular shape */
    width: 120px;
    /* Spinner size */
    height: 120px;
    /* Spinner size */
    animation: spin 2s linear infinite;
    /* Spinning animation */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        /* Start rotation */
    }

    100% {
        transform: rotate(360deg);
        /* Full rotation */
    }
}

body {
    background-color: rgb(110, 179, 83);
    /* Set background color */
}