body {
    background-color: #f9f9f9;
}

header {
    margin-bottom: 2rem;
}

footer {
    margin-top: auto;
    /* Ensures footer stays at the bottom */
    padding: 1rem 0;
    background-color: #343a40;
    color: #fff;
    text-align: center;
    width: 100%;
}

.flash-messages {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 1050;
}

.img {
    max-width: 100%;
    height: auto;
    /* Optionally set a fixed height if desired, e.g.: */
    height: 350px;
}